<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About Niko</h2>
        <hr class="light">
          <p class="text-faded">Niko (now 16) took up DJing at 10 years old.
              Starting off playing a majority of Top 40 Pop and Greek music, Niko
              now enjoys listening to Latin Trap, Rap, EDM, as well as a plethora of
              other genres. <br> <br> Niko has a diverse set of interests and hobbies. He handles
              all public relations for Student Government, founded
              and runs Greek Club, and is now on the board of Best Buddies. <br> <br> In
              the past, Niko has provided music for school dances, church events, birthday parties,
              and weddings. He is very excited to DJ your next event!</p>
            </div>
        </div>
    </div>
</section>
