<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hosting an event that needs a DJ? Have questions?</h2>
                <hr class="primary">
                <p>I'm ready to DJ your next event! Send me an email and I'll get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-1 col-lg-offset-3 text-center">
            <a href="https://instagram.com/nikorilla{{ instagram.nikorilla }}" target="_blank">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ instagram.nikorilla }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-3 text-center" target="_blank">
            <a href="mailto: nikorilla@djnvmusic.com {{ nikorilla@djnvmusic.com }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.nikorilla@djnvmusic.com }}</p>
            </a>
        </div>


    </div>
</section>
